.new-item {
  height: 120px;
  margin: 10px 0;
  margin: 10px;
  color: #fffff3;
  border-radius: 20px;
  box-shadow: -2px 5px 5px gray;

  .left-item {
    width: 10px;
    background: #ebc011;
    border-radius: 20px 0 0 20px;
  }

  .middle-item {
    padding: 10px;
    font-size: 10px;
    background: #e2a603;
    .title {
      font-weight: bold;
      font-size: 12px;
    }
  }

  .right-item {
    flex: 1;
    padding: 5px;
    background: #ebc011;
    border-radius: 0 10px 10px 0;

    .title {
      font-weight: bold;
      font-size: 12px;
    }
    .content {
      font-size: 12px;
    }
  }

  .title {
    height: 35px;
    font-weight: 400;
    font-size: 14px;
    line-height: 35px;
  }
  .sub-title {
    font-weight: 300;
    font-size: 10px;
  }
  .title,
  .sub-title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: break-all;
  }
}

.contenttitle {
  border-bottom: 1px solid #efeff1;
  .leftlogo {
    display: inline-block;
    width: 4px;
    height: 26px;
    margin-right: 10px;
    vertical-align: middle;
    background: #4c6afc;
    border-radius: 4px;
  }
  .titlecss {
    font-size: 18px;
    vertical-align: middle;
  }
}
