<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    &nbsp;&nbsp;&nbsp;
    <ion-label>{{componentTitle}}</ion-label>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div class="infoclass">
      <div class="row middle-span center-span">
        <div>
          <form [formGroup]="scheduleForm">
            <ion-item>
              <ion-label color="primary" class="labelFont"
              >计划主题:</ion-label
              >
              <ion-input
                type="text"
                placeholder="请输入计划主题"
                formControlName="topic"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label color="primary" class="labelFont"
              >计划日期:</ion-label
              >
              <ion-datetime
                displayFormat="YYYY-MM-DD"
                min="2019"
                max="2099"
                formControlName="contactDate"
              ></ion-datetime>
            </ion-item>
            <ion-item>
              <ion-label color="primary" class="labelFont"
              >计划开始时间:</ion-label
              >
              <ion-datetime
                displayFormat="YYYY-MM-DD HH:mm"
                min="2019"
                max="2099"
                formControlName="startTime"
              ></ion-datetime>
            </ion-item>
            <ion-item>
              <ion-label color="primary" class="labelFont"
              >计划结束时间:</ion-label
              >
              <ion-datetime
                displayFormat="YYYY-MM-DD HH:mm"
                min="2019"
                max="2099"
                formControlName="endTime"
              ></ion-datetime>
            </ion-item>
            <ion-item>
              <ion-label color="primary" class="labelFont"
              >联系客户:</ion-label
              >
              <ion-input
                type="text"
                placeholder="请输入联系客户名称"
                formControlName="targetName"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label color="primary" class="labelFont"
              >客户等级:</ion-label
              >
              <ion-input
                type="text"
                placeholder="请输入客户等级"
                formControlName="targetLeve"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label color="primary" class="labelFont"
              >客户联系方式:</ion-label
              >
              <ion-input
                type="text"
                placeholder="请输入客户联系方式"
                formControlName="contactWay"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label color="primary" class="labelFont"
              >推荐产品:</ion-label
              >
              <ion-input
                type="text"
                placeholder="请输入推荐产品"
                formControlName="recommendProduct"
              ></ion-input>
            </ion-item>
            <div class="center-span ion-margin-horizontal">
              <ion-button
                class="submit"
                expand="block"
                color="danger"
                expand="full"
                (click)="addSchedule()"
              >
                {{ createButtonValue }}
              </ion-button>
            </div>
            <!--<div class="footer row between-span">-->
            <!--<a routerLink="/user/register">还没有账户?</a>-->
            <!--<a routerLink="/user/forget-password">忘记密码</a>-->
            <!--</div>-->
          </form>
        </div>
      </div>
    </div>
</ion-content>
