<div class="customerWrap">
  <div class="row">
    <div class="col-span-3 picfont">
      <div><img src={{data.url}} alt=""></div>
      <p class="namecss">{{data.name}}</p>
    </div>
    <div class="col-span-9 customercss">
      <div class="row">
        <div class="col-span-7">{{data.customertype}}</div>
        <div class="col-span-5 levecss">{{data.levername}}</div>
      </div>
      <p>客户等级：<span>{{data.lever}}</span></p>
      <p>客户积分：<span class="lowcolor">{{data.integral}}</span></p>
      <p>所属客户：<span>{{data.belings}}</span></p>
    </div>
  </div>
</div>
