<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>产品排名</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ngx-table [configuration]="tableConfig.config" [data]="rows" [columns]="columns" [detailsTemplate]="detailTpltest">
    </ngx-table>
</ion-content>
<ng-template #detailTpltest let-row>
    <ion-item>
        <ion-label color="primary">产品名称</ion-label>
        <ion-label slot="end">{{ row.productName }}</ion-label>
    </ion-item>
    <ion-item>
        <ion-label color="primary">产品排名</ion-label>
        <ion-label slot="end">{{ row.productRank}}</ion-label>
    </ion-item>
    <ion-item>
        <ion-label color="primary">产品类型</ion-label>
        <ion-label slot="end">{{ row.productType }}</ion-label>
    </ion-item>
    <ion-item>
        <ion-label color="primary">贷款要求</ion-label>
        <ion-label slot="end">{{ row.productPro }}</ion-label>
    </ion-item>
    <ion-item>
        <ion-label color="primary">销量</ion-label>
        <ion-label slot="end">{{ row.sales }}</ion-label>
    </ion-item>
</ng-template>