<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>产品目录</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <Accordion [accordion]="true" [defaultActiveKey]="'0'" [activeKey]="activeKey" (onChange)="onChange($event)">
    <AccordionPanel *ngFor="let item of accordions; let i = index;" [key]="i" [header]="item.title" [disabled]="item.inactive">
      <List className="my-list">
        <ListItem *ngFor="let content of item.child">
          <div class="row" style="font-size:12px;">
            <div class="col-span-9 ion-margin-start">{{content}}</div>
            <div class="col-span-2 arraw ion-text-right">></div>
          </div>
        </ListItem>
      </List>
    </AccordionPanel>
  </Accordion>
</ion-content>
