<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>产品目录</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <!-- <tree [tree]="tree" [settings]="settings" (nodeRemoved)="handleRemoved($event)" (nodeRenamed)="handleRenamed($event)" (nodeSelected)="handleSelected($event)" (nodeMoved)="handleMoved($event)" (nodeCreated)="handleCreated($event)" (nodeExpanded)="handleExpanded($event)"
        (nodeCollapsed)="handleCollapsed($event)">
    </tree> -->
</ion-content>