.detailtitle {
    display: inline-block;
    width: 140px;
    height: 45px;
    line-height: 45px;
    border: 1px solid gainsboro;
    border-radius: 5px;
}

.infoclass {
    padding: 10px;
    .picimg {
        img {
            width: 60px;
            margin: 0 auto;
            border-radius: 50px;
        }
    }
}

.rowlistcss {
    height: 50px;
    line-height: 50px;
}

.customerwrap {
    .bordercss {
        border-bottom: 1px solid gainsboro;
        .picimg {
            img {
                width: 60px;
                margin: 0 auto;
                border-radius: 50px;
            }
        }
        p {
            line-height: 30px;
        }
    }
    .graycolor {
        color: rgb(221, 221, 221);
    }
}

ion-card {
    -webkit-margin-start: 0px;
    margin-inline-start: 0px;
    -webkit-margin-end: 0px;
    margin-inline-end: 0px;
}

.item-group {
    font-size: 14px;
    font-weight: bold;
}

.item-group-child {
    font-size: 12px;
    margin-left: 20px;
}

:host ::ng-deep .am-tabs-default-bar-tab {
    font-size: 14px!important;
}

:host ::ng-deep ion-button {
    font-size: 10px;
}

.am-tag-active-red {
    background-color: #fff;
    color: #f04141;
    border: 1px solid #f04141;
    border-radius: 3px;
}

:host ::ng-deep ion-button {
    font-size: 10px;
    --border-width: 1px;
    --padding-top: 0;
    --padding-start: 0.5em;
    --padding-end: 0.5em;
    --padding-bottom: 0;
    height: 1.8em;
}

.margimyself {
    margin: 10px;
}

.fontsizecss {
    font-size: 13px;
}

.noteheight {
    line-height: 45px !important;
}