<ion-header>
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-label class="ion-text-center" >我的工具</ion-label>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div padding-top="10%" class="middle-span">
  <ion-grid>
    <ion-row padding-bottom="5%">
    <ion-col>
      <div class="col middle-span">
      <ion-label>AUM计算工具</ion-label>
      <ion-icon size="large"  src="assets/icon/user/aum_ref_para_comp.svg"></ion-icon>
      </div>
    </ion-col>
    <ion-col>
      <div class="col middle-span">
        <ion-label>理财规划</ion-label>
        <ion-icon size="large"  src="assets/icon/user/plan.svg"></ion-icon>
      </div>
    </ion-col>
    <ion-col>
      <div class="col middle-span">
        <ion-label >个人存款</ion-label>
        <ion-icon size="large"  src="assets/icon/user/deposit.svg"></ion-icon>
      </div>
    </ion-col>
  </ion-row>
    <ion-row padding-bottom="5%">
      <ion-col>
        <div class="col middle-span">
          <ion-label >贷款计算器</ion-label>
          <ion-icon size="large"  src="assets/icon/user/caculater.svg"></ion-icon>
        </div>
      </ion-col>
      <ion-col>
        <div class="col middle-span">
          <ion-label >身份核查</ion-label>
          <ion-icon size="large"  src="assets/icon/user/identity.svg"></ion-icon>
        </div>
      </ion-col>
      <ion-col>
        <div class="col middle-span">
          <ion-label >理财搜索</ion-label>
          <ion-icon size="large"  src="assets/icon/user/funds-line.svg"></ion-icon>
        </div>
      </ion-col>
    </ion-row>
    <ion-row padding-bottom="5%">
      <ion-col>
        <div class="col middle-span">
          <ion-label >基金搜索</ion-label>
          <ion-icon size="large"  src="assets/icon/user/funds-line.svg"></ion-icon>
        </div>
      </ion-col>
      <ion-col>
        <div class="col middle-span">
          <ion-label >基金比较</ion-label>
          <ion-icon size="large"  src="assets/icon/user/compare.svg"></ion-icon>
        </div>
      </ion-col>
      <ion-col>
        <div class="col middle-span">
          <ion-label >基金收益计算</ion-label>
          <ion-icon size="large"  src="assets/icon/user/profit.svg"></ion-icon>
        </div>
      </ion-col>
    </ion-row>
    <ion-row padding-bottom="5%">
      <ion-col>
        <div class="col middle-span">
          <ion-label >基金分析</ion-label>
          <ion-icon size="large"  src="assets/icon/user/analysis.svg"></ion-icon>
        </div>
      </ion-col>
      <ion-col>
        <div class="col middle-span">
          <ion-label >保险比较</ion-label>
          <ion-icon size="large"  src="assets/icon/user/assurance.svg"></ion-icon>
        </div>
      </ion-col>
      <ion-col>
        <div class="col middle-span">
          <ion-label >基金收益排名</ion-label>
          <ion-icon size="large"  src="assets/icon/user/rank.svg"></ion-icon>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  </div>
</ion-content>
