// .searchcss {
//     padding-left: 8px !important;
//     border: 1px solid gainsboro;
//     border-radius: 5px;
// }
.btncss {
    margin-top: 7px;
}

.listcss {
    margin-top: 20px;
}

.depsearchcss {
    line-height: 60px;
    text-align: right;
}

.displaycss {
    display: inherit !important;
}

.my-custom-menu {
    width: 500px;
}

.list-ios {
    margin-bottom: 8px !important;
}