.depsearchcss {
    line-height: 60px;
    text-align: right;
}

.displaycss {
    display: inherit !important;
}

.list-ios {
    margin-bottom: 8px !important;
}

.clickcss {
    background: rgb(211, 57, 57);
    color: white;
}