<ion-header>
  <ion-toolbar>
    <ion-searchbar mode="ios" placeholder="消息查询"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true" (ionScroll)="onScroll($event)">
  <ion-refresher slot="fixed" (ionRefresh)="getMessageList($event)">
    <ion-refresher-content> </ion-refresher-content>
  </ion-refresher>

  <ion-slides pager="true" [options]="slideOpts" class="static-container">
    <ion-slide>
      <div
        class="static-item"
        [routerLink]="['/dashboard/message-number']"
        routerLinkActive="router-link-active"
      >
        <img src="assets/images/dashboard/dashboard-01.png" />
      </div>
    </ion-slide>
    <ion-slide>
      <div
        class="static-item"
        [routerLink]="['/dashboard/message-status']"
        routerLinkActive="router-link-active"
      >
        <img src="assets/images/dashboard/dashboard-02.png" />
      </div>
    </ion-slide>
  </ion-slides>

  <ion-grid class="catalog-container">
    <ion-row>
      <ion-col size="6" *ngFor="let item of messageTypeNumber; index as i">
        <div class="catalog-item row" (click)="onOpenMessageType(item)">
          <div class="col-span-4 row middle-span center-span">
            <ion-icon class="catalog-icon" [src]="item.icon"></ion-icon>
          </div>
          <div class="col-span-8 col middle-span center-span">
            <div class="catalog-number">
              {{ item.length }}
            </div>
            <div class="catalog-name">{{ item.name }}</div>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-card class="message-container">
    <ion-card-header>
      <ion-card-title class="row middle-span between-span">
        <div class="row middle-span ">
          <div class="ion-padding-end">最新消息</div>
          <ion-badge mode="ios">{{ currentMessageList.length }}</ion-badge>
        </div>
        <a routerLink="/dashboard/message-list">查看更多</a>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list *ngIf="currentMessageList.length; else empty">
        <app-message-item
          *ngFor="let item of currentMessageList"
          [data]="item"
        ></app-message-item>
      </ion-list>

      <ng-template #empty>
        <app-empty> </app-empty>
      </ng-template>
    </ion-card-content>
  </ion-card>

  <ion-fab
    vertical="bottom"
    horizontal="end"
    slot="fixed"
    class="untreated-container"
  >
    <ion-fab-button>
      <div class="col">
        <div class="untreated-number">5</div>
        <div class="untreated-name">待处理</div>
      </div>
    </ion-fab-button>
  </ion-fab>
</ion-content>
