<ion-content>
  <!-- <ion-slides class="slider-container" pager="true" [options]="slideOpts">
    <ion-slide *ngFor="let notify of notifyList">
      <div class="notify-item">
        <img [src]="notify.picture" />
        <div class="content">{{ notify.content }}</div>
      </div>
    </ion-slide>
  </ion-slides> -->
  <ion-slides class="slider-container" pager="true" [options]="slideOpts">
    <ion-slide>
      <div class="menu-container">
        <div class="menu-items row">
          <div class="col-span-3" *ngFor="let item of menuList.slice(0, 4)">
            <div class="menu-item">
              <div class="icon row middle-psan center-span">
                <ion-icon [name]="item.icon"></ion-icon>
              </div>
              <div class="text">{{ item.label }}</div>
            </div>
          </div>
        </div>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="menu-container">
        <div class="menu-items row">
          <div class="col-span-3" *ngFor="let item of menuList.slice(4, 8)">
            <div class="menu-item">
              <div class="icon row middle-psan center-span">
                <ion-icon [name]="item.icon"></ion-icon>
              </div>
              <div class="text">{{ item.label }}</div>
            </div>
          </div>
        </div>
      </div>
    </ion-slide>
  </ion-slides>

  <ion-card>
    <ion-card-header>
      <ion-card-title class="news-title">
        <div class="row between-span news-title">
          <div class="title row middle-span">
            <ion-icon color="secondary" name="paper"></ion-icon>
            <span>消息动态</span>
          </div>
          <div>
            <a routerLink="/dashboard/message-list">更多</a>
          </div>
        </div>
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-list>
        <app-message-item
          *ngFor="let item of newsList"
          [data]="item"
        ></app-message-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <!-- <ion-card>
    <ion-card-header>
      <ion-card-title class="alarm-title">
        <div class="row between-span news-title">
          <div class="title row middle-span">
            <ion-icon color="secondary" name="paper"></ion-icon>
            <span>预警信息</span>
          </div>
          <div>
            <a routerLink="/user/register">更多</a>
          </div>
        </div>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div class="alarm-content row middle-span center-span">
        <ion-icon name="checkmark-circle-outline"></ion-icon>
        <span>暂无预警信息</span>
      </div>
    </ion-card-content>
  </ion-card> -->

  <ion-card>
    <ion-card-header>
      <ion-card-title class="static-title">
        <div class="row between-span news-title">
          <div class="title row middle-span">
            <ion-icon color="secondary" name="analytics"></ion-icon>
            <span>数据统计</span>
          </div>
          <div>
            <a routerLink="/tabs/marketing">更多</a>
          </div>
        </div>
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <div class="row">
        <div class="col-span-6">
          <div class="static-item static-item-1 row middle-span">
            <div>
              <div class="title">日销售额</div>
              <div class="data">¥ 103,000</div>
            </div>
          </div>
        </div>
        <div class="col-span-6">
          <div class="static-item static-item-2 row">
            <div>
              <div class="title">周销售额</div>
              <div class="data">¥ 882,000</div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-span-6">
          <div class="static-item static-item-3 row">
            <div>
              <div class="title">月度目标</div>
              <div class="data">83%</div>
            </div>
          </div>
        </div>
        <div class="col-span-6">
          <div class="static-item static-item-4 row">
            <div>
              <div class="title">季度目标</div>
              <div class="data">134%</div>
            </div>
          </div>
        </div>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
