:host {
  .fixed-tabs {
    position: fixed;
    top: 0;
    z-index: 10;
  }

  .message-number {
    ion-label,
    .badge {
      font-size: 10px;
    }

    ion-col {
      margin: 0;
      padding: 2px;
    }
    ion-chip {
      height: 24px;
      padding: 2px 4px;
      padding-right: 0;
      ion-label {
        padding: 0 3px;
      }
      .badge {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 28px;
        height: 24px;
        color: white;
        background: darkcyan;
        border-radius: 0 20px 20px 0;
      }
    }
  }
}
