<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>客户分组</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="groupwrap">
    <div class="row">
      <div class="col-span-3 leftmenu">
        <div>待发薪客户</div>
        <div>商旅客户</div>
        <div>理财达人</div>
        <div>睡眠客户</div>
      </div>
      <div class="col-span-9">
        <ion-card-content>
          <ion-list *ngFor="let item of customerList">
            <app-customer-item [data]="item"></app-customer-item>
          </ion-list>
        </ion-card-content>
      </div>
    </div>
  </div>
</ion-content>
