<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>客户分组</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div class="groupwrap">
        <nzm-tabs style="height: 800px;" [tabBarPosition]="'left'" [tabDirection]="'vertical'">
            <nzm-tab-pane [title]="'待发薪客户'">
                <div>
                    <ion-card-content>
                        <ion-list *ngFor="let item of customerList.slice(0,2)">
                            <app-customer-item [data]="item"></app-customer-item>
                        </ion-list>
                    </ion-card-content>
                </div>
            </nzm-tab-pane>
            <nzm-tab-pane [title]="'商旅客户'">
                <div>
                    <ion-card-content>
                        <ion-list *ngFor="let item of customerList.slice(2,8)">
                            <app-customer-item [data]="item"></app-customer-item>
                        </ion-list>
                    </ion-card-content>
                </div>
            </nzm-tab-pane>
            <nzm-tab-pane [title]="'理财达人'">
                <div>
                    <ion-card-content>
                        <ion-list *ngFor="let item of customerList.slice(8,9)">
                            <app-customer-item [data]="item"></app-customer-item>
                        </ion-list>
                    </ion-card-content>
                </div>
            </nzm-tab-pane>
            <nzm-tab-pane [title]="'睡眠客户'">
                <div>
                    <ion-card-content>
                        <ion-list *ngFor="let item of customerList.slice(9,12)">
                            <app-customer-item [data]="item"></app-customer-item>
                        </ion-list>
                    </ion-card-content>
                </div>
            </nzm-tab-pane>
        </nzm-tabs>
    </div>
</ion-content>