.buycsswrap {
    border: 2px solid peru;
    .titlecss {
        color: peru;
        font-size: 17px;
    }
}

.rulewrap {
    border: 1px peru dashed;
    .rulecss {
        color: peru;
        font-size: 17px;
    }
}

.buycss {
    padding: 10px;
    font-size: 16px;
    line-height: 30px;
    .graycolor {
        color: darkgray;
    }
    p {
        color: brown;
    }
}

.fxjscss {
    font-size: 18px;
    color: brown;
}