<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>已购买产品</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-card>
        <ion-card-header>
            <ion-card-title style="font-size:14px;">聚益生金60天A款</ion-card-title>
        </ion-card-header>
        <div class="row buycss">
            <div class="col-span-4 graycolor">购买时间</div>
            <div class="col-span-8">2019-07-13 16:00:00</div>
            <div class="col-span-4 graycolor">购买编号</div>
            <div class="col-span-8">C105000179</div>
            <div class="col-span-4 graycolor">购买份额</div>
            <div class="col-span-8">两份</div>
            <div class="col-span-4 graycolor">起购金额</div>
            <div class="col-span-8">10000元起购，100元递增</div>
        </div>
    </ion-card>
    <ion-card>
        <ion-card-header>
            <ion-card-title style="font-size:14px;">交易规则</ion-card-title>
        </ion-card-header>
        <div class="row buycss">
            <div class="col-span-4 graycolor">收益规则</div>
            <div class="col-span-8">现在买入,07.20开始计算收益</div>
            <div class="col-span-4 graycolor">购买费率</div>
            <div class="col-span-8">购买费率为0</div>
            <div class="col-span-4 graycolor">赎回费率</div>
            <div class="col-span-8">无</div>
            <div class="col-span-4 graycolor">赎回时间</div>
            <div class="col-span-8">到期自定还本付息</div>
            <div class="col-span-4 graycolor">到账时间</div>
            <div class="col-span-8">T+3内到账，最快T+0，T指工作日</div>
        </div>
    </ion-card>
    <ion-card>
        <ion-card-header>
            <ion-card-title style="font-size:14px;">产品风险介绍</ion-card-title>
        </ion-card-header>
        <div class="row buycss">
            <p>R3级（中风险）</p>
            <p>产品到期或者赎回时不报证本金的偿付，有一定的本金风险，收益浮动且有一定的波动。</p>
        </div>
    </ion-card>
</ion-content>