<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>客户营销活动详情</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div class="acticitycss">
        <div class="title ion-padding">
            <p>“健康宝”理财</p>
            <p>温暖来袭，健康夺金</p>
        </div>
        <ion-card>
            <div class="ion-padding ion-text-center hightcss">
                <b>健康宝理财系列2019年定开20号</b>
                <p class="lvcss">3.65% - 4.23%</p>
                <p>业绩比较基准</p>
                <p>认购期：2019-07-20至2019-08-10</p>
                <div class="row ion-text-center specialcss">
                    <div class="col-span-4"><span>一万元 </span>起购</div>
                    <div class="col-span-4"><span>0元 </span>赎买费率</div>
                    <div class="col-span-4"><span>R2 </span>风险</div>
                </div>
                <div class="searchbtn">
                    <ion-button expand="full" color="#E75A24" class="btnbg">立即购买</ion-button>
                </div>
            </div>
        </ion-card>
        <ion-card-content class="ion-padding cpldcss">
            <p class="ldtitle">产品亮点</p>
            <p>投资风格稳健</p>
            <div>通过衡量和管理市场波动风险采用恒定比例组合保险策略机制，同事通过调整动态权益和债券类资产比例，锁定确定性收益</div>
            <p>汇聚精英投资</p>
            <div>银行总行投资主动管理固收和权益投资资产，并主动精选和管理全市场明星管理人，进而实现“防守下的进攻”</div>
            <p>支持定期赎回</p>
            <div>本理财计划作期为三年，封闭期后，每年会不定期的开放赎回，具备一定流通性</div>
        </ion-card-content>
    </div>
</ion-content>