<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>客户统计</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <!-- <ion-card-content> -->
  <div class="statiswrap">
    <div class="row statistitle">
      <div class="col-span-3">
        <span class="blockcss">客户产品分布</span>
      </div>
      <div class="col-span-3">
        <span class="blockcss">客户等级分布</span>
      </div>
      <div class="col-span-3">
        <span class="blockcss">正在申请客户</span>
      </div>
      <div class="col-span-3">
        <span class="blockcss">逾期客户</span>
      </div>
    </div>
  </div>
  <ion-card-content>
    <table>
      <tr>
        <td>产品类型</td>
        <td>客户数</td>
        <td>贷款余额</td>
        <td>日净增</td>
        <td>月净增</td>
      </tr>
      <tr>
        <td>额度类贷款</td>
        <td>34</td>
        <td>50000</td>
        <td>3%</td>
        <td>2%</td>
      </tr>
      <tr>
        <td>CFC贷款</td>
        <td>34</td>
        <td>9800</td>
        <td>5%</td>
        <td>13%</td>
      </tr>
      <tr>
        <td>消费类贷款</td>
        <td>234</td>
        <td>35647</td>
        <td>30%</td>
        <td>4%</td>
      </tr>
      <tr>
        <td>住房类贷款</td>
        <td>2345</td>
        <td>89878</td>
        <td>6.9%</td>
        <td>2.3%</td>
      </tr>
    </table>
  </ion-card-content>
  <!-- </ion-card-content> -->
</ion-content>
