<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>客户统计</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ngx-table [configuration]="tableConfig.config" [data]="rows" [columns]="columns" [detailsTemplate]="detailTpltest">
  </ngx-table>
</ion-content>
<ng-template #detailTpltest let-row>
  <ion-item>
    <ion-label color="primary">产品类型</ion-label>
    <ion-label slot="end">{{ row.productTyepe }}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label color="primary">客户数</ion-label>
    <ion-label slot="end">{{ row.customerNum }}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label color="primary">贷款余额</ion-label>
    <ion-label slot="end">{{ row.dkye }}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label color="primary">日净增</ion-label>
    <ion-label slot="end">{{ row.rjz }}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label color="primary">月净增</ion-label>
    <ion-label slot="end">{{ row.yjz }}</ion-label>
  </ion-item>
  <div class="ion-text-center ion-padding">
    <a>查看更多</a>
  </div>
</ng-template>
