<ion-header>
  <ion-toolbar class="ion-text-center">
    <ion-title>登录</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <div class="row middle-span center-span" style="padding-top: 50%">
    <div >
      <form [formGroup]="loginForm">
      <ion-item>
        <ion-label color="primary" position="floating">账号:</ion-label>
        <ion-input type="text" placeholder="请输入账号" formControlName="userId" ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label  icon="password" color="primary" position="floating">密码:</ion-label>
        <ion-input type="password" placeholder="请输入密码" formControlName="loginPwd"></ion-input>
      </ion-item>
      <div   style="text-align: center; padding-top: 10px"  >
        <ion-label fixed style="color: #f25454">{{loginInfo}}</ion-label>
      </div>
      <div style="text-align: center; margin-left: 30px; margin-right: 30px;">
        <ion-button  class="submit" expand="block"  color="danger" expand="full" (click)="logIn()">
          登录
        </ion-button>
      </div>
        <!--<div class="footer row between-span">-->
          <!--<a routerLink="/user/register">还没有账户?</a>-->
          <!--<a routerLink="/user/forget-password">忘记密码</a>-->
        <!--</div>-->
      </form>
    </div>
  </div>
</ion-content>
