<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="customer">
      <ion-icon name="contacts"></ion-icon>
      <ion-label>客户</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="product">
      <ion-icon name="filing"></ion-icon>
      <ion-label>产品</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="dashboard">
      <ion-icon name="desktop"></ion-icon>
      <ion-label>工作台</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="marketing">
      <ion-icon name="trending-up"></ion-icon>
      <ion-label>绩效</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="user">
      <ion-icon name="person"></ion-icon>
      <ion-label>我的</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
