:host {
  .container {
    background: white;
    .header {
      padding: 10px;
    }
    .compare-item {
      margin: 10px 0;
      color: #000;
    }
  }
  ion-content {
    margin: 5px 0;

    --background: #e5e5e5;
  }
  ion-card {
    -webkit-margin-start: 0px;
    margin-inline-start:0px;
    -webkit-margin-end:0px;
    margin-inline-end:0px;
  }
  .compare-item1 {
    font-size: 10px;
    color: #9a9a9a;
  }
}
