<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-label>对比详情</ion-label>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container ion-padding" style="font-size:12px;">
    <div class="header row middle-span center-span" style="color:darkcyan;">
      <div class="col-span-4"></div>
      <div class="col-span-4">{{ firstProduct.type }}</div>
      <div class="col-span-4">{{ secondProduct.type }}</div>
    </div>
    <div class="row middle-span center-span compare-item">
      <div class="col-span-4">
        期限类型
      </div>
      <div class="col-span-4">
        1-3个月(含)
      </div>
      <div class="col-span-4">
        7天-1个月(含)
      </div>
    </div>
    <div class="row middle-span center-span compare-item">
      <div class="col-span-4">
        产品风险等级
      </div>
      <div class="col-span-4">
        R2(中低)
      </div>
      <div class="col-span-4">
        R3(中)
      </div>
    </div>
    <div class="row middle-span center-span compare-item">
      <div class="col-span-4">
        投资者类型
      </div>
      <div class="col-span-4">
        私人银行客户专属
      </div>
      <div class="col-span-4">
        机构客户专属
      </div>
    </div>
    <div class="row middle-span center-span compare-item">
      <div class="col-span-4">
        投资资产类型
      </div>
      <div class="col-span-4">
        银行存款类
      </div>
      <div class="col-span-4">
        股权类
      </div>
    </div>
    <div class="row middle-span center-span compare-item">
      <div class="col-span-4">
        产品收益类型
      </div>
      <div class="col-span-4">
        保证收益
      </div>
      <div class="col-span-4">
        保本浮动收益
      </div>
    </div>
  </div>
</ion-content>
