<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>访问历史</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="row contenttitle ion-padding-top ion-padding-bottom">
        <div class="col-span-11 row">
            <span class="leftlogo ion-margin-right"></span>
            <span class="titlecss">今日访问</span>
          <div  style="margin-top: 3px;margin-left: 15px;">
            <ion-badge color="primary" slot="end">{{customerList.length}}</ion-badge>
          </div>
        </div>
    </div>
    <ion-card-content>
        <ion-list *ngFor="let item of customerList">
            <app-customer-item [data]="item"></app-customer-item>
        </ion-list>
    </ion-card-content>
</ion-content>
