<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>互动详情</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-item-group>
        <ion-item-divider>
            <ion-label class="fontcolor">来柜办理基金提取</ion-label>
        </ion-item-divider>
        <ion-item>
            <ion-label class="col-span-3">时间</ion-label>
            <ion-note class="noteheight">2019-07-02 10:30</ion-note>
        </ion-item>
        <ion-item>
            <ion-label class="col-span-3">时长</ion-label>
            <ion-note class="noteheight">8分38秒</ion-note>
        </ion-item>
        <ion-item>
            <ion-label class="col-span-3">操作人</ion-label>
            <ion-note class="noteheight">刘梦洁</ion-note>
        </ion-item>
        <ion-item>
            <ion-label class="col-span-3">状态</ion-label>
            <ion-note class="noteheight">办理完结</ion-note>
        </ion-item>
        <ion-item>
            <ion-label class="col-span-3">是否代办</ion-label>
            <ion-note class="noteheight">否</ion-note>
        </ion-item>
        <ion-item>
            <ion-label class="col-span-3">方式</ion-label>
            <ion-note class="noteheight">柜台办理</ion-note>
        </ion-item>
        <ion-item>
            <ion-label class="col-span-3">地点</ion-label>
            <ion-note class="noteheight">西安市高新区腾飞创新中心</ion-note>
        </ion-item>
    </ion-item-group>
</ion-content>