.menu-container {
    width: 100%;
    margin: 10px 0 0 0;
    .menu-items {
        border-bottom: 0.1px solid gainsboro;
        .menu-item {
            padding: 5px;
            .text {
                font-size: 14px;
                text-align: center;
            }
            .icon {
                width: 50px;
                height: 50px;
                margin: auto;
                font-size: 24px;
                text-align: center;
                border-radius: 100%;
                color: #4C6AFC;
                border: 1px solid rgb(179, 179, 179);
                margin-bottom: 5px;
                ion-icon {
                    display: block;
                    height: 50px;
                    font-size: 24px;
                }
            }
        }
    }
}

.contenttitle {
    border-bottom: 1px solid #efeff1;
    .leftlogo {
        display: inline-block;
        width: 4px;
        height: 26px;
        margin-right: 10px;
        vertical-align: middle;
        background: #4c6afc;
        border-radius: 4px;
    }
    .titlecss {
        font-size: 18px;
        vertical-align: middle;
    }
}