.menu-container {
    width: 100%;
    margin: 10px 0 30px 0;
    .menu-items {
        border-bottom: 0.1px solid gainsboro;
        .menu-item {
            padding: 5px;
            .text {
                font-size: 14px;
                text-align: center;
            }
            .icon {
                width: 40px;
                height: 40px;
                margin: auto;
                font-size: 24px;
                text-align: center;
                border-radius: 100%;
                ion-icon {
                    display: block;
                    height: 40px;
                }
            }
        }
    }
}

.productWrap {
    margin: 0 auto;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid skyblue;
    border-radius: 10px;
    .marginNum {
        margin: 20px 0 20px 0;
    }
    .leftTitle {
        text-align: left;
    }
    .rightTitle {
        text-align: right;
    }
    .lowcolor {
        color: palevioletred;
    }
    .owercolor {
        color: blue;
    }
}