<ion-header>
  <ion-toolbar >

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-label class="ion-text-center" >我的关注</ion-label>
  </ion-toolbar>
</ion-header>

<ion-content>
  <nzm-tabs

    [activeTab]="tabIndex"
    [page]="5"
    style="height: 44px; padding-top: 10px;"
    [prerenderingSiblingsNumber]="3"
    [useOnPan]="false"
    [animated]="false"
    (onChange)="onTabChange($event)"
  >
    <nzm-tab-pane [title]="myFocus"> </nzm-tab-pane>
    <nzm-tab-pane
      [title]="titleTemplate"
      *ngFor="let item of userFocusTabs"
    >
      <ng-template #titleTemplate>
        <nzm-badge [text]="item.length">
          <div>{{ item.tabName }}</div>
        </nzm-badge>
      </ng-template>
    </nzm-tab-pane>
  </nzm-tabs>
</ion-content>
