<div
  class="new-item row no-wrap"
  [ngClass]="getItemClass()"
  (click)="onOpenDetail()"
>
  <nzm-badge
    *ngIf="showStatus && data.status"
    [text]="' '"
    [corner]="true"
    class="new-item-badge"
  >
  </nzm-badge>
  <div class="left-item"></div>
  <div class="middle-item col between-span">
    <div class="title">{{ data.type | dict }}</div>
    <div class="time">
      <div>{{ data.time }}</div>
    </div>
  </div>
  <div class="right-item">
    <div class="title">{{ data.title }}</div>
    <div class="content">
      {{
        data.content.length > 40
          ? data.content.slice(0, 40) + '...'
          : data.content
      }}
    </div>
  </div>
</div>
