:host {
  $color-customer-1: #43af7d;
  $color-customer-2: #43af7d;
  $color-risk-1: #5ea8d6;
  $color-risk-2: #69baec;
  $color-marketing-1: #9978d6;
  $color-marketing-2: #a984ec;
  $color-work-1: #d5a441;
  $color-work-2: #dfac45;

  &.customer {
    .left-item,
    .middle-item {
      background: $color-customer-1;
    }
    .right-item {
      background: $color-customer-2;
    }
  }

  &.work {
    .left-item,
    .middle-item {
      background: $color-work-1;
    }
    .right-item {
      background: $color-work-2;
    }
  }

  &.marketing {
    .left-item,
    .middle-item {
      background: $color-marketing-1;
    }
    .right-item {
      background: $color-marketing-2;
    }
  }

  &.risk {
    .left-item,
    .middle-item {
      background: $color-risk-1;
    }
    .right-item {
      background: $color-risk-2;
    }
  }
}

.container {
  border-radius: 20px;
  // box-shadow: -2px 5px 5px gray;
  overflow: hidden;
  margin: 5px;
  margin-bottom: 10px;
  position: relative;
}

.new-item {
  height: 120px;
  color: #fffff3;
  position: relative;

  .new-item-badge {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    font-size: 12px;
  }

  .left-item {
    width: 10px;
  }

  .middle-item {
    padding: 10px;
    font-size: 10px;
    .title {
      font-weight: bold;
      font-size: 12px;
    }
  }

  .right-item {
    flex: 1;
    padding: 5px;

    .title {
      font-weight: bold;
      font-size: 12px;
    }
    .content {
      font-size: 12px;
    }
  }

  .title {
    height: 35px;
    font-weight: 400;
    font-size: 14px;
    line-height: 35px;
  }

  .sub-title {
    font-weight: 300;
    font-size: 10px;
  }

  .title,
  .sub-title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: break-all;
  }
}
