.surecss {
  text-align: right;
}

.depcss {
  padding: 15px;
  .attribcss {
    line-height: 60px;
  }
}

.basic {
  padding: 14px;
  line-height: 20px;
  text-align: center;
}

input {
  width: 100%;
  padding: 4%;
  border: 1px solid gainsboro;
  border-radius: 4px;
}

.searchbtn {
  position: fixed;
  bottom: 20px;
  left: 5%;
  width: 90%;
}
