<ion-header>
  <ion-toolbar>
    <div class="row">
      <div class="col-span-10">
        <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>高级搜索</ion-title>
      </div>
      <div class="col-span-2">
        确定
      </div>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <div class="depcss">
      <b>基本属性</b>
      <div class="row attribcss">
        <div class="col-span-4">客户姓名</div>
        <div class="col-span-8">
          <ion-input></ion-input>
        </div>
      </div>
      <div class="row attribcss">
        <div class="col-span-4">客户性别</div>
        <div class="col-span-8">
          <ion-input></ion-input>
        </div>
      </div>
      <div class="row attribcss">
        <div class="col-span-4">客户年龄</div>
        <div class="col-span-8">
          <ion-input></ion-input>
        </div>
      </div>
      <div class="row attribcss">
        <div class="col-span-4">标签属性</div>
        <div class="col-span-8">
          <ion-input></ion-input>
        </div>
      </div>
      <div class="row attribcss">
        <div class="col-span-4">产品属性</div>
        <div class="col-span-8">
          <ion-input></ion-input>
        </div>
      </div>
      <div class="row attribcss">
        <div class="col-span-4">签约属性</div>
        <div class="col-span-8">
          <ion-input></ion-input>
        </div>
      </div>
      <div class="row attribcss">
        <div class="col-span-4">渠道偏好属性</div>
        <div class="col-span-8">
          <ion-input></ion-input>
        </div>
      </div>
    </div>
  </ion-card>
</ion-content>
