<ion-card>
  <div class="productWrap ion-padding" [routerLink]="data.url">
    <div class="row">
      <div class="col-span-8 ion-text-left">
        <span class="hotscss">热</span>&nbsp;
        <span class="productnamecss">{{data.type}}</span>
      </div>
      <div class="col-span-4 ion-text-right"><span class="colorgray">已售出:&nbsp;</span><span class="productnamecss">{{data.num}}</span></div>
    </div>
    <div class="marginNum">{{data.amount}}</div>
    <div class="row">
      <div class="col-span-8"><span class="colorgray littlefont">{{data.content}}</span></div>
      <div class="col-span-4 ion-text-right"><span class="lowcss">低要求</span>&nbsp;&nbsp;<span class="fastcss">放款快</span></div>
    </div>
  </div>
</ion-card>
