.amap-logo,
.amap-copyright {
  display: none !important;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.dot-badge,
.am-badge-dot,
.am-badge-text {
  right: -13px;
}

ion-card-title {
  font-size: 14px;
}

ion-icon {
  .big {
    width: 100px;
    height: 100px;
  }

  .bigger {
    width: 150px;
    height: 150px;
  }
}
