<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>产品详情</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div class="wrapDetail">
        <div class="titleimg">
            <img class="bgimg" src="assets/images/productdetail.png" alt="">
            <!-- <img class="logo" src="assets/images/sales.png" alt=""> -->
        </div>
        <div class="contentdetail">
            <div class="titleborder ion-text-left ion-margin-top">
                <b>{{detaildata.title}}</b>
                <p class="fontcolor ion-padding-top ion-padding-bottom">{{detaildata.subtitle}}</p>
            </div>
            <div class="row ion-padding">
                <div class="col-span-3 primary">{{detaildata.risk[0]}}</div>
                <div class="col-span-3 danger">{{detaildata.risk[1]}}</div>
                <div class="col-span-6 success">{{detaildata.risk[2]}}</div>
            </div>
            <div class="rulewrap">
                <div class="col-span-12 rulecss">
                    <span class="spanbtn"></span>
                    <span class="spanfont">业务办理及规定</span>
                    <img src="assets/images/error.png" alt="">
                </div>
                <p>{{detaildata.rules}}</p>
            </div>
            <div class="rulewrap">
                <div class="col-span-12 rulecss">
                    <span class="spanbtn"></span>
                    <span class="spanfont">目标客户</span>
                    <!-- <img src="assets/images/error.png" alt=""> -->
                </div>
                <p>{{detaildata.content}}</p>
            </div>
        </div>
        <div class="searchbtn">
            <ion-button expand="full" color="#E75A24" class="btnbg">立即购买</ion-button>
        </div>
    </div>
</ion-content>