.productInfo {
    border: 1px solid skyblue;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 15px;
    p {
        margin: 15px 0 15px 0;
        line-height: 30px;
        font-size: 14px;
    }
    .leftclass {
        text-align: left;
    }
    .rightclass {
        text-align: right;
    }
    .content {
        text-indent: 20px;
    }
    .lineheight {
        line-height: 38px;
    }
    .sycolor {
        color: palevioletred;
    }
    .fxcolor {
        color: blue;
    }
    .zqcolor {
        color: palevioletred;
    }
}