.map {
  height: 100%;
}

.menu-container {
  z-index: -1;
}

:host ::ng-deep .amap-marker-label {
  border: none;
  background-color: transparent;
  width: 120px;
  text-align: center;
  .marker-label {
    border-radius: 10px;
    box-shadow: 0px 0px 10px lightgrey;
    padding: 2px 5px;
    background: #fff;
  }
}
